.botaoVoltar {
    position: fixed;
    margin-top: 25px;
    bottom: auto;
    left: 25px;
    background-color: #575958;
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-size: 30px;
    color: aliceblue;
}

.botaoVoltar:hover {
    transform: scale(1.15);
    background-color: #575958;
    border-radius: 15px 15px 15px 15px;
}

.botaoReiniciar {
    background-color: #575958;
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-size: 30px;
    color: aliceblue;
    margin-top: 20px;
}

.botaoReiniciar:hover {
    transform: scale(1.15);
}

.botaoIniciar {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 45px;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 1px;
}

.botaoIniciar:hover {
    background-color: #575958;
    color: #001a0a;
    transform: scale(1.25);
    border-radius: 7px 7px 7px 7px;
}

.botaoSecundario {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 1px;
}

.botaoSecundario:hover {
    background-color: #575958;
    color: #001a0a;
    transform: scale(1.15); /* aumenta um pouco */
    border-radius: 7px;
}
