.mapa {
  background-image: url('@/assets/piso.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.linha {
  display: flex;
}

.parede {
  background-image: url('@/assets/muro.png');
}

.jogador {
  background-image: url('@/assets/personagem.png');
  animation: movimento 1s infinite alternate;
}

.jogadorObjetivo {
  background-image: url('@/assets/personagemSobObjeto.png');
}

.bloco {
  background-image: url('@/assets/caixa.png');
  animation: pulse 5s infinite;
}


.objetivo {
  background-image: url('@/assets/objetivo.png');
}

.objetivoJogador {
  background-color: black;
}

.vazio {
  background-color: transparent;
  width: 55px;
  height: 55px;
  border: 1px rgba(0, 0, 0, 0.2);
}

.lava {
  background-image: url('@/assets/lava.gif'); 
  background-size: cover;
}

.objetivo,
.bloco,
.jogadorObjetivo,
.jogador,
.parede,
.lava {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 55px;
  height: 55px;
  border: 1px rgba(0, 0, 0, 0.2);
}

@keyframes movimento {
  0% { transform: translateY(0); }
  100% { transform: translateY(-1px); }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.10);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}