<<<<<<< HEAD
.mapa {
  background-image: url('@/assets/piso.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.linha {
  display: flex;
}

.parede {
  background-image: url('@/assets/muro.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.jogador {
  background-image: url('@/assets/personagem.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bloco {
  background-image: url('@/assets/caixa.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.10);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.objetivo {
  background-image: url('@/assets/objetivo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.vazio {
  background-color: transparent;
}

.objetivoJogador{
  background-color: black;
}

.parede,
.jogador,
.bloco,
.objetivo,
.vazio {
  width: 55px;
  height: 55px;
  border: 1px rgba(0, 0, 0, 0.2);
=======
.mapa {
  background-image: url('@/assets/piso.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.linha {
  display: flex;
}

.parede {
  background-image: url('@/assets/muro.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.jogador {
  background-image: url('@/assets/personagem.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bloco {
  background-image: url('@/assets/caixa.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.10);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.objetivo {
  background-image: url('@/assets/objetivo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.vazio {
  background-color: transparent;
}

.parede,
.jogador,
.bloco,
.objetivo,
.vazio {
  width: 55px;
  height: 55px;
  border: 1px rgba(0, 0, 0, 0.2);
>>>>>>> 7dfa18bfb65b67c47a57c7660aaba647f05a1aff
}